<h1>Listing: <%= @dojos.count %> Dojos</h1>

<table>
	<thead>
		<tr>
			<th>Coding Dojo Branch</th>
			<th>Street</th>
			<th>City</th>
			<th>State</th>
			<th>Actions</th>
		</tr>
	</thead>
	<tbody>
		<% @dojos.each do |d| %>
			<tr>
				<td><%= d.branch %></td>
				<td><%= d.street %></td>
				<td><%= d.city %></td>
				<td><%= d.state %></td>
				<td><a href="/dojos/<%= d.id %>">Show</a> | <a href="/dojos/<%= d.id %>/edit"> Edit</a> |
					<form action="/dojos/<%= d.id %>" method="post">
					<input type="hidden" name="_method" value="delete">
					<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>"><input type="submit" value="Delete" class="submit"></form></td>
			</tr>
		<% end %>
	</tbody>
</table><br>
<br>
<a href="/dojos/new">Add Dojo</a>